<ion-view view-title="Dashboard">
  <ion-content>
    <div class="padding">
      <h2>Public Safety</h2>
      <p>
        This app keeps an eye on where you are and warns you if you get near high-crime areas.
      </p>
    </div>
    <div class="list">
      <ion-toggle class="item" ng-change="changeSettings()", ng-model="settings.enableMonitoring">
        Enable location monitoring
      </ion-toggle>

      <label class="item item-input item-select">
        <div class="input-label">
          Search Radius
        </div>
        <select ng-model="settings.radius" ng-change="changeSettings()">
          <option>1/8 Mile</option>
          <option>1/4 Mile</option>
          <option>1/2 Mile</option>
          <option>1 Mile</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Choose a City
        </div>
        <select ng-model="settings.city" ng-change="changeSettings()">
          <option>Boston</option>
        </select>
      </label>
    </div>
    <div class="padding-vertical">
      <h3>Status</h3>
    </div>
    <div class="list">
      <label class="item item-icon-right">
        {{settings.city}} crime data sync
        <span class="item-note" ng-if="syncStatus == 'off'">
          Offline
        </span>
        <div class="item-note" ng-if="syncStatus == 'sync'">
          <ion-spinner></ion-spinner>
          <progress style="display:inline;" ng-if="syncPercent > 0" max="100" value="{{syncPercent}}">Inside</progress>
        </div>
        <span class="item-note" ng-if="syncStatus == 'ok'">
          <i class="icon ion-checkmark balanced"></i>
        </span>
      </label>
    <div>
  </ion-content>
</ion-view>
