<ion-view view-title="Activity">
  <ion-content>
    <div class="padding" ng-if="! enabled">
      <h3>Monitor Log (inactive)</h3>
      <p>
        The monitor is deactivated right now. To activate it, go to the <a href="#/tab/dash">Welcome screen</a>
        and click &ldquo;Enable location monitoring.&rdquo;
      </p>
    </div>
    <div ng-if="enabled">
      <div class="padding">
        <h3>Monitor Log</h3>
        <p>
          This app keeps an eye on where you are and warns you if you get near high-crime areas.
        </p>
        <p ng-if="lastCheck">
          Last check: <strong>{{lastCheck}}</strong>
        </p>
      </div>
      <div class="list">
        <div class="item" ng-if="warnings.length == 0">
          Good! No activity so far.
        </div>
        <div class="item" ng-repeat="warning in warnings">
          Check at {{warning.age}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
